@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap-bg{
    /* background-color: rgba(13, 11, 35, 0.9) ; */

    /* グラデーションを定義 */
    /* background-image: linear-gradient(180deg, rgb(10 1 100), rgb(85 196 255) 100%); */

    background:linear-gradient(135deg, #0a0164,#24569a,#55c4ff);
    background-size: 200% 200%;/*サイズを大きくひきのばす*/
    animation: bggradient 5s ease infinite;
}

.wrap-logo{
    color: rgba(255,255,255,0.9);
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,.5));/*背景白でも見えるように一応シャドウ*/
}


@keyframes bggradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }